header {
  max-width: 144rem;
  width: 100%;
  background-color: #30336b;
  border-radius: 2rem;
  height: 8rem;
  padding: 0 2rem;

  .header-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-div-inner1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .header-div-inner2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.2rem;
      gap: 1.5rem;
      font-weight: bold;

      span {
        color: white;
        font-size: 1.5rem;
        border: 0.1rem solid white;
        border-radius: 0.5rem;
        padding: 0.3rem;
      }
    }
  }
}
