.puzzle-2{
    
    .puzzle-2-container{
        background-color: rgb(119, 104, 104);
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2{
            font-size: 2rem;
        }

        p{
            font-size: 1.5rem;
        }

        .arrows-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 12rem;
            gap: 0.5rem;

            .arrow{
                border: 1px solid beige;
                padding: 0.5rem;
                text-align: center;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }

        .task-description{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 1rem;
            
            h3{
                font-size: 1.5rem;
            }

            .directions{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                border: 1px solid bisque;
                padding: 0.4rem;
                border-radius: 0.3rem;
                justify-content: center;

                p{
                    font-size: 1rem;
                }
            }
        }
    }

    .down-side{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        p{
            color: grey;
            font-size: 1.2rem;
        }

        .button-next{
            padding: 1rem;

        }
    }
}