.puzzle-1 {
  padding-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  //   align-items: baseline;
  gap: 2rem;
  .lamp-container {
    width: 100%;
    height: 20rem;
    background: pink;
    .lamp-toggle {
      display: flex;
      font-size: 2rem;
    }
    .lamp-answer-cont {
      height: 100%;
      background-color: blue;
      margin: 2rem;
      text-align: center;
      p {
        font-size: 2rem;
        color: white;
      }
      #puzzle-1-code {
        display: none;
      }
    }
  }
  .code-container {
    width: 100%;
    height: 20rem;
    background: pink;
  }
}
