.puzzle-3 {
  padding: 1rem;
  .puzzle-3__header {
    font-size: 3rem;
    color: #fff;
  }
  .puzzle-3__description {
    color: #fff;
    font-size: 2rem;
  }
  .answer-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    button {
      padding: 1rem;
      font-size: 1rem;
    }
  }
  .pincode-wrapper {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .left-container {
      .left-container__header {
        color: #fff;
        font-size: 2rem;
      }
      .left-container__paragraph {
        color: #fff;
        font-size: 1rem;
      }
      .pincode-container {
        .pincode-input {
          padding: 1rem;
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: center;

          #code1 {
            width: 1rem;
            height: 1rem;
            background: #fff;
          }
          #code2 {
            width: 1rem;
            height: 1rem;
            background: #fff;
          }
          #code3 {
            width: 1rem;
            height: 1rem;
            background: #fff;
          }
          
        }
        .numbers-buttons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          place-items: cenrter;
          #center {
            grid-column-start: 2;
            grid-column-end: 3;
          }
        }
      }
    }

    .right-container {
      .right-container__header {
        color: #fff;
        font-size: 2rem;
      }
      .found-digits{
        display: flex;
        gap: 10px;
        div{
            background: #fff;
            color: #000;
            padding: 1rem;
        }
      }
    }
  }
}
