.puzzle-1 {
  padding-top: 2rem;
  border-radius: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  .lamp-container {
    border-radius: 1rem;

    width: 100%;
    height: 22rem;
    background: rgb(2, 0, 27);
    .lamp-toggle {
      display: flex;
      font-size: 2rem;
      padding-left: 1rem;
      padding-top: 1rem;
      gap: 2rem;
      input {
        width: 2rem;
        border-radius: 999.9rem;
      }
      p {
        color: white;
      }
    }
    .lamp-answer-cont {
      position: relative;
      height: 15rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(52, 52, 132);
      margin: 2rem;
      text-align: center;
      .lamp-answer-inner-cont {
        background-color: rgb(52, 52, 132);
        p {
          font-size: 2rem;
          color: white;
        }
        #puzzle-1-code {
          position: absolute;
          display: none;
          font-size: 2rem;
          columns: rgb(0, 0, 67);
        }
      }
    }
  }
  .code-container {
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background: rgb(2, 0, 27);
    input {
      border-radius: 1rem;
      height: 4rem;
      border: none;
    }
    button {
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
