header {
  max-width: 144rem;
  width: 100%;
  background-color: blue;
  height: 4rem;
}
header .header-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-div .header-div-inner1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-div .header-div-inner1 span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
header .header-div .header-div-inner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2rem;
  gap: 1.5rem;
  font-weight: bold;
}
header .header-div .header-div-inner2 span {
  color: white;
  font-size: 1.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.puzzle-container {
  max-width: 100rem;
  width: 100%;
  background: navy;
  height: auto;
}

.goal-aside {
  width: 100%;
  max-width: 44rem;
  background: pink;
  height: 100%;
  border-radius: 0.5rem;
}
.goal-aside .aside-first-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
}
.goal-aside .aside-first-div .aside-first-inner1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.goal-aside .aside-first-div .aside-first-inner1 span {
  color: black;
  background-color: white;
  padding: 0.3rem 0.3rem;
  border-radius: 0.8rem;
}
.goal-aside .aside-first-div .aside-first-inner1 button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
.goal-aside .aside-first-div .aside-first-inner2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.goal-aside .aside-first-div .aside-first-inner2 h2 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}
.goal-aside .aside-first-div .aside-first-inner2 p {
  font-weight: bold;
  font-size: 1.4rem;
}
.goal-aside .aside-first-div .aside-first-inner3 {
  width: 100%;
}
.goal-aside .aside-first-div .aside-first-inner3 span {
  font-weight: bold;
  font-size: 2rem;
}
.goal-aside .aside-first-div h1 {
  font-size: 2.5rem;
  color: black;
}

.puzzle-1 {
  padding-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.puzzle-1 .lamp-container {
  width: 100%;
  height: 20rem;
  background: pink;
}
.puzzle-1 .lamp-container .lamp-toggle {
  display: flex;
  font-size: 2rem;
}
.puzzle-1 .lamp-container .lamp-answer-cont {
  height: 100%;
  background-color: blue;
  margin: 2rem;
  text-align: center;
}
.puzzle-1 .lamp-container .lamp-answer-cont p {
  font-size: 2rem;
  color: white;
}
.puzzle-1 .lamp-container .lamp-answer-cont #puzzle-1-code {
  display: none;
}
.puzzle-1 .code-container {
  width: 100%;
  height: 20rem;
  background: pink;
}

.puzzle-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.puzzle-header .puzzle-header-name {
  display: flex;
  flex-direction: row;
}
.puzzle-header .puzzle-header-name p {
  font-size: 3rem;
  color: white;
}
.puzzle-header .puzzle-header-description {
  font-size: 2.5rem;
  color: white;
}

.puzzle-3 {
  padding: 1rem;
}
.puzzle-3 .puzzle-3__header {
  font-size: 3rem;
  color: #fff;
}
.puzzle-3 .puzzle-3__description {
  color: #fff;
  font-size: 2rem;
}
.puzzle-3 .answer-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.puzzle-3 .answer-buttons button {
  padding: 1rem;
  font-size: 1rem;
}
.puzzle-3 .pincode-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.puzzle-3 .pincode-wrapper .left-container .left-container__header {
  color: #fff;
  font-size: 2rem;
}
.puzzle-3 .pincode-wrapper .left-container .left-container__paragraph {
  color: #fff;
  font-size: 1rem;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .pincode-input {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .pincode-input #code1 {
  width: 1rem;
  height: 1rem;
  background: #fff;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .pincode-input #code2 {
  width: 1rem;
  height: 1rem;
  background: #fff;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .pincode-input #code3 {
  width: 1rem;
  height: 1rem;
  background: #fff;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .numbers-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: cenrter;
}
.puzzle-3 .pincode-wrapper .left-container .pincode-container .numbers-buttons #center {
  grid-column-start: 2;
  grid-column-end: 3;
}
.puzzle-3 .pincode-wrapper .right-container .right-container__header {
  color: #fff;
  font-size: 2rem;
}
.puzzle-3 .pincode-wrapper .right-container .found-digits {
  display: flex;
  gap: 10px;
}
.puzzle-3 .pincode-wrapper .right-container .found-digits div {
  background: #fff;
  color: #000;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.frame {
  width: 100%;
  max-width: 144rem;
  height: auto;
  background: blueviolet;
  height: auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.frame main {
  width: 100%;
  max-width: 144rem;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/*# sourceMappingURL=styles.css.map */
